# API Configuration
NEXT_PUBLIC_API_URL=http://localhost:8000/api

# App Configuration
NEXT_PUBLIC_APP_NAME=Senara Cosmetics
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Laravel Sanctum Configuration (if using)
NEXT_PUBLIC_SANCTUM_STATEFUL_DOMAINS=localhost:3000

NEXT_PUBLIC_ACCESS_TOKEN=truongvantung81@
